.lead__image{
    display:flex;
    position: relative;
    width:100%;
    height:100%;
    justify-content: center;
    flex-direction: column;
    margin-top:64px;
}

@media (max-width:1024px){
    .lead__image{
    margin-top: 56px;
    }
}

@media (max-width:768px){
    .lead__image{
        margin:56px 0 0;
        width:100%;
    }
}

@media (max-width:320px){
    .lead__image{
        margin:40 0 0;
    }
}