.lead__caption {
    font-size: 10px;
    line-height: 14px;
    margin-top: 8px;
    align-self: flex-start;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

@media (max-width:768px) {
    .lead__caption {
        margin: 8px auto 0 24px;
    }
}

@media (max-width:320px) {
    .lead__caption {
        margin: 8px auto 0 16px;
    }
}