.footer {
    margin: 92px 48px 0 48px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 96px);
}

@media (max-width:768px) {
    .footer {
        margin: 88px 24px 0;
        width: calc(100% - 48px);
        margin-top: 88px;
    }
}

@media (max-width:670px) {
    .footer {
        flex-direction: column;
        margin: 32px auto 0 16px;
        max-width: 186px;
    }

}